body{
    font-family: 'Roboto';
    font-size: px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page
{
    display: flex;
    flex-wrap: wrap;
}

.section
{
    width: 100%;
    height: 300px;
    display: flex;
}

.menu
{
    background-color: #000000;
    height: 400px;
    color:#FFF;
    max-height: 50px;
    min-height: 30px;
    justify-content: start;
    align-items: center;
}

.cabecalho
{
    background-color: #808080;
    justify-content: start;
    align-items: center;
    
}

.conteudo
{
    background-color: #EAEDF0;
    height: 600px;
}

.conteudo2
{
    background-color: #D6E9FE; 
}

.secao1
{
    background-color: #F5CF8E;
}

.secao2
{
    background-color: #F09A9D;
}

.secao3
{
    background-color: #C8C6FA;
}

.rodape
{
    background-color: #000000;
    height: 80px;
    color: #FFF;
}

.titulo_tenis
{
    min-height: 50;
    max-height: 80;
    
}

.section p
{
    font-size: 2em;
    margin-bottom: 15px;
    color: #000000;
    justify-content: top;
    align-items: center;
}

/*Regra de estilo de dispositivos moveis*/
@media only screen and (max-width: 400px){

}

/*Regra de estilo de dispositivos tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
    body{
        .conteudo2,
        .secao1,
        .secao2,
        .secao3
        {
            width: 50%;
        }
    }
}

/*Regra de estilo para computador*/
@media only screen and (min-width: 961px){
    .page{
        width: 960px;
        margin: 0 auto; 
    }

    .secao1,
    .secao2,
    .secao3
    {
        width: 33.3%;
    }
    .cabecalho
    {
        height: 400px;
    }
    .conteudo2
    {
        height: 200px;
        order:1;
    }
    .conteudo
    {
        order:2;
    }
    .rodape
    {
        order: 3;
    }
}

/*#teste
{
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
*/
model-viewer
{
    width: 100%;
    height: 100%;
}

